<form novalidate>
  <fieldset>
    <legend>{{tlogin}}</legend>
    <ol class="fields">
      <li>
        <label>email</label>
        <input class="email invalid" type="email" placeholder="Email" required />
      </li>
      <li>
        <label>password</label>
        <input class="password invalid" type="password" placeholder="Password" required />
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <input type="submit" value="{{tsend}}" />
  </fieldset>
</form>