<form class="new-addition" novalidate>
	<fieldset>
		<legend>{{add}} {{addition}}</legend>
		<ol class="fields">
			<li>
				<label>{{name}}</label>
				<input class="name" type="text" placeholder="{{name}}" />
			</li>
			<li>
				<label>{{supplier}}</label>
				<select class="supplier">
					{{#each suppliers}}
						<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</li>
			<li>
				<label>{{type}}</label>
				<select class="type">
					<option></option>
					<option value="1">{{calcareous}}</option>
					<option value="2">{{fly_ash}}</option>
					<option value="3">{{silica_fume}}</option>
				</select>
			</li>
			<li>
				<label>{{cost}}</label>
				<input class="cost" type="number" placeholder="{{cost}}" />
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<input type="submit" value="{{send}}" />
	</fieldset>
</form>
