<form class="new-additive" novalidate>
	<fieldset>
		<legend>{{add}} {{additive}}</legend>
		<ol class="fields">
			<li>
				<label>{{name}}</label>
				<input class="{{name}}" type="text" placeholder="{{name}}" />
			</li>
			<li>
				<label>{{supplier}}</label>
				<select class="supplier">
					{{#each suppliers}}
						<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</li>
			<li>
				<label>{{category}}</label>
				<select class="category">
					<option></option>
					<option value="F - fluidificante">F - Fluidificante</option>
					<option value="FR - fluidificante ritardante">FR - Fluidificante ritardante</option>
					<option value="FA - Fluidificante accelerante">FA - Fluidificante accelerante</option>
					<option value="SR - Superfluidificante ritardante naftalensolfonato">SR - Superfluidificante ritardante naftalensolfonato</option>
					<option value="SA - Superfluidificante ritardante acrilico">SA - Superfluidificante ritardante acrilico</option>
					<option value="SM/SN - Fluidificante naftalensolfonato o melamminasolfonata">SM/SN - Fluidificante naftalensolfonato o melamminasolfonata</option>
					<option value="SAC - Superfluidificante accelerante acrilico">SAC - Superfluidificante accelerante acrilico</option>
					<option value="Aerante">Aerante</option>
				</select>
			</li>
			<li>
				<label>{{cost}}</label>
				<input class="cost" type="number" placeholder="{{cost}}" />
			</li>
			{{#if permission}}
				<li>
					<label>alpha</label>
					<input class="alpha" type="number" placeholder="&alpha;" />
				</li>
			{{/if}}
		</ol>
	</fieldset>
	<fieldset>
		<input type="submit" value="{{send}}" />
	</fieldset>
</form>
