<nav id="operations">
  <ul class="menu">
    <li><input class="back" type="button" value="{{operations.back}}" /></li>
  </ul>
</nav>
<ul class="keyvalue aggregate">
  {{#each attrs}}
    <li>{{this.key}}: <em>{{this.value}}</em></li>
  {{/each}}
</ul>
<div id="grading_analysis"></div>
<ul class="keyvalue grading_analysis">
  <li>{{series.key}}: <em>{{series.value}}</em></li>
  <li>{{analysis_date.key}}: <em>{{analysis_date.value}}</em></li>
  <li>{{author.key}}: <em>{{author.value}}</em></li>
</ul>
<div class="data-table">
  <table>
    <thead>
      <tr>
        <th>{{opening}}</th>
        <th>{{imr}}</th>
        <th>{{ipr}}</th>
        <th>{{cpr}}</th>
        <th>{{cpp}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each maths}}
        <tr>
          <td>{{this.opening}}</td>
          <td>{{this.imr}}</td>
          <td>{{this.ipr}}</td>
          <td>{{this.cpr}}</td>
          <td>{{this.cpp}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
