<form class="new-aggregate" novalidate>
	<fieldset class="aggregate">
		<legend>{{create}} {{aggregate}}</legend>
		<ol class="fields">
			<li>
				<label>{{name}}</label>
				<input class="name" type="text" placeholder="{{name}}" />
			</li>
			<li>
				<label>{{code}}</label>
				<input class="code" type="text" placeholder="{{code}}" />
			</li>
			<li>
				<label>{{sample_weight}}</label>
				<input class="sample_weight" type="number" placeholder="{{sample_weight}}" />
			</li>
			<li>
				<label>{{pa}}</label>
				<input class="pa" type="number" placeholder="{{pa}}" />
			</li>
			<li>
				<label>{{prd}}</label>
				<input class="prd" type="number" placeholder="{{prd}}" />
			</li>
			<li>
				<label>{{pssd}}</label>
				<input class="pssd" type="number" placeholder="{{pssd}}" />
			</li>
			<li>
				<label>{{wa24}}</label>
				<input class="wa24" type="number" placeholder="{{wa24}}" />
			</li>
			<li>
				<label>{{origin}}</label>
				<select class="origin">
					<option class="natural" value="natural">{{natural}}</option>}
					<option class="crushed" value="crushed">{{crushed}}</option>}
				</select>
			</li>
			<li>
				<label>{{cost}}</label>
				<input class="cost" type="number" placeholder="{{cost}}" />
			</li>
			<li>
				<label>{{supplier}}</label>
				<select class="supplier">
					{{#each suppliers}}
						<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</li>
		</ol>
	</fieldset>
	<fieldset class="grading_analysis">
		<legend>{{grading_analysis}}</legend>
		<ol class="fields">
			<li>
				<label>{{author}}</label>
				<input class="author" type="text" placeholder="{{author}}" />
			</li>
			<li>
				<label>{{analysis_date}}</label>
				<input class="analysis_date" type="date" />
			</li>
			<li>
				<label>{{sieves_series}}</label>
				<select class="sieves_series">
					<option></option>
					<option
					value="UNI EN">UNI EN</option>
					<option value="ASTM">ASTM</option>
				</select>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<input type="submit" value="{{send}}" />
	</fieldset>
</form>
