<form class="new-cement" novalidate>
	<fieldset>
		<legend>{{add}} {{cement}}</legend>
		<ol class="fields">
			<li>
				<label>{{code}}</label>
				<input class="code" type="text" placeholder="{{code}}" />
			</li>
			<li>
				<label>{{type}}</label>
				<select class="type">
					<option></option>
					<option value="CEM I 32.5N">CEM I 32.5N</option>
					<option value="CEM I 32.5R">CEM I 32.5R</option>
					<option value="CEM I 42.5N">CEM I 42.5N</option>
					<option value="CEM I 42.5R">CEM I 42.5R</option>
					<option value="CEM I 52.5N">CEM I 52.5N</option>
					<option value="CEM I 52.5R">CEM I 52.5R</option>
					<option value="CEM II 32.5N">CEM II 32.5N</option>
					<option value="CEM II 32.5R">CEM II 32.5R</option>
					<option value="CEM II 42.5N">CEM II 42.5N</option>
					<option value="CEM II 42.5R">CEM II 42.5R</option>
					<option value="CEM II 52.5N">CEM II 52.5N</option>
					<option value="CEM II 52.5R">CEM II 52.5R</option>
					<option value="CEM III 32.5N">CEM III 32.5N</option>
					<option value="CEM III 32.5R">CEM III 32.5R</option>
					<option value="CEM III 42.5N">CEM III 42.5N</option>
					<option value="CEM III 42.5R">CEM III 42.5R</option>
					<option value="CEM III 52.5N">CEM III 52.5N</option>
					<option value="CEM III 52.5R">CEM III 52.5R</option>
					<option value="CEM III 32.5N">CEM IV 32.5N</option>
					<option value="CEM III 32.5R">CEM IV 32.5R</option>
					<option value="CEM III 42.5N">CEM IV 42.5N</option>
					<option value="CEM III 42.5R">CEM IV 42.5R</option>
					<option value="CEM III 52.5N">CEM IV 52.5N</option>
					<option value="CEM III 52.5R">CEM IV 52.5R</option>
					<option value="CEM III 32.5N">CEM V 32.5N</option>
					<option value="CEM III 32.5R">CEM V 32.5R</option>
					<option value="CEM III 42.5N">CEM V 42.5N</option>
					<option value="CEM III 42.5R">CEM V 42.5R</option>
					<option value="CEM III 52.5N">CEM V 52.5N</option>
					<option value="CEM III 52.5R">CEM V 52.5R</option>
					<option value="CEM III 32.5N">CEM VI 32.5N</option>
					<option value="CEM III 32.5R">CEM VI 32.5R</option>
					<option value="CEM III 42.5N">CEM VI 42.5N</option>
					<option value="CEM III 42.5R">CEM VI 42.5R</option>
					<option value="CEM III 52.5N">CEM VI 52.5N</option>
					<option value="CEM III 52.5R">CEM VI 52.5R</option>
				</select>
			</li>
			<li>
				<label>{{supplier}}</label>
				<select class="supplier">
					{{#each suppliers}}
						<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<input type="submit" value="{{send}}" />
	</fieldset>
</form>
