<ul>
	<li><a class="suppliers" href="#/suppliers">{{suppliersManagement}}</a></li>
  <li><a class="aggregates" href="#/aggregates">{{aggregates}}</a></li>
  {{! <li><a class="" href="#/cements">{{cements}}{{!</a></li> }}
  {{! <li><a class="additives" href="#/additives">{{additives}}{{!</a></li> }}
  {{! <li><a class="additions" href="#/additions">{{additions}}{{!</a></li> }}
</ul>
