<form class="new-supplier" novalidate>
	<fieldset>
		<legend>{{create}} {{supplier}}</legend>
		<ol class="fields">
			<li>
				<label>{{name}}</label>
				<input class="name" type="text" placeholder="{{name}}" />
			</li>
			<li>
				<label>{{product}}</label>
				<select class="product">
					<option value="aggregate">{{aggregate}}</option>
					<option value="cement">{{cement}}</option>
					<option value="additive">{{additive}}</option>
					<option value="addition">{{addition}}</option>
				</select>
			</li>
			<li>
				<label>{{address}}</label>
				<input class="address" type="text" placeholder="{{address}}" />
			</li>
			<li>
				<label>{{city}}</label>
				<input class="city" type="text" placeholder="{{city}}" />
			</li>
			<li>
				<label>{{region}}</label>
				<input class="region" type="text" placeholder="{{region}}" />
			</li>
			<li>
				<label>{{postal_code}}</label>
				<input class="postal_code" type="text" placeholder="{{postal_code}}" />
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<input type="submit" value="{{send}}" />
	</fieldset>
</form>
