<table>
	{{#if title}}
  	<caption>{{title}}</caption>
  {{/if}}
  <thead>
    {{#each columns}}
      <th data-code="{{this.code}}">{{this.text}}</th>
    {{/each}}
    {{#if operations}}
      <th class="operations"></th>
    {{/if}}
  </thead>
  <tbody></tbody>
</table>
