{{#each values}}
  <td class="element" data-code="{{this.code}}">{{this.word}}</td>
{{/each}}
{{#if operations}}
  <td class="operations">
    {{#if deletable}}
      <input class="delete" type="button" value="elimina" />
    {{/if}}
  </td>
{{/if}}
