{{#if logged}}
  <li><a class="profile" href="#/profile">{{profile}}</a></li>
  <li><a class="logout" href="#/logout">{{logout}}</a></li>
{{else}}
  <li><a class="login" href="#/login">{{login}}</a></li>
{{/if}}
