/*
* Impostazioni generali per i buttons
*/
input[type="button"]
	padding          7px 12px
	border           0
	color            #fff
	text-shadow      1px 1px 0 #222
	background-color $buttonBGC
	border-radius    $buttonBorderRadius
	text-transform   capitalize
	
	&:hover
		background-color #333
