/*
* Impostazioni generali per le forms.
*/
form
  > fieldset
    padding       0
    margin        0
    margin-bottom $baseSpacing
    border        0
    color         $mainGrey
    &:last-child
      margin-bottom 0

    > legend
      display        block
      width          100%
      padding        0
      margin         0 0 $baseSpacing 0
      font-size      1.5em
      border-bottom  1px solid $mainLightGrey
      color          darken(@color, 40%)
      text-transform capitalize

    > ol
      padding     0
      margin      0
      list-style  none

      > li
        margin-bottom ($baseSpacing / 1.5)

    label
      display        block
      color          darken(@color, 40%)
      text-transform capitalize

    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="number"]
      display          inline-block
      height           $baseSpacing * 1.2
      padding          4px 6px
      border           1px solid #ccc
      background-color #fff
      &:focus
        border-color $mainGrey
        outline      0
      &.invalid
        color $errorTextColor
        border-color $errorBorderColor

    input[type="submit"]
      padding          7px 12px
      border           0
      color            #fff
      text-shadow      1px 1px 0 #222
      background-color $buttonBGC
      border-radius    $buttonBorderRadius
      text-transform   capitalize
      &:hover
        background-color #333