/*
* Indicazioni globali per il layout.
* Tali indicazioni sono intese per il mobile.
*/
#grading_analysis
  width  800px
  height 450px
  margin 20px auto
  padding 10px
  box-shadow inset 0 0 10px -1px #333
  background-color #FFF

html
  height           100%
  overflow-y       scroll
  background-color darken($mainLightGrey, 10%)

  body
    height    @height
    font-size 100%

    &.zoom-out
      -webkit-transform scale(0.92)
      -moz-transform    scale(0.92)
      -ms-transform     scale(0.92)
      -o-transform      scale(0.92)
      transform         scale(0.92)
      box-shadow        0 0 55px -8px #000

    #lock
      position         fixed
      top              0
      left             0
      height           100%
      width            100%
      background-color rgba(255, 255, 255, .5)
      z-index          998

      form
        padding          10px
        background-color #fff
        width            300px
        box-shadow       0 0 25px -2px #333
        border-radius    4px
        margin           0 auto
        margin-top       400px

    #cover
      height           @height

      &.blur
        -webkit-filter   blur(8px)
        -moz-filter      blur(8px)
        -o-filter        blur(8px)
        -ms-filter       blur(8px)
        filter           blur(8px)

      > header
        position         relative
        height           $topbarHeight
        background-color $topbarBGC
        margin-bottom    10px

        .menu
          position      absolute
          right         0
          line-height   @height

          a
            color $mainLightGrey
            text-transform  capitalize
            &:hover
              color           #fff
              text-decoration none

      #content-wrapper
        width  96%
        margin 0 auto

        > nav
          position relative

          &.main
            height 85px

          #logo
            > img
              height (@height - 40)
              // width   20%
              padding 20px

          .menu
            display  none

.tile
  margin-bottom    10px
  padding          20px
  background-color lighten($mainLightGrey, 50%)
  box-shadow       0 1px 0 0 $mainGrey

.menu
  margin  0
  padding 0

  li
    display       inline-block
    padding-right 10px

// Desktop
@media screen and (min-width: 1024px)
  html
    background-color $mainBlue

    body
      #cover
        #content-wrapper
          width 1000px

          > nav
            ul.menu
              display  inline-block
              position absolute
              right    0

              > li
                padding-right 20px

                > a
                  text-transform capitalize

        #content
          div
            position   relative
            min-height $baseSpacing

            #operations
              position absolute
              top      0
              right    0

  .tile
    box-shadow 0 0 16px #000
