/*
* Indicazioni per lo stile delle liste
*/
ul
  &.keyvalue
    margin     0
    padding    0
    list-style none

    > li
      color $mainGrey
      > em
        padding-left   8px
        text-transform capitalize
        font-style     normal
        color          $mainColor
