// Fix per Internet Explorer 8/9 ---
header
nav
section
article
  display block

[hidden]
  display none

mark
  background-color #ff0
  color            #000

img
  border 0

svg:not(:root)
  overflow hidden

input[type="checkbox"]
input[type="radio"]
  box-sizing border-box
  padding    0
// ---------------------------------

// Basic graphic reset --------------
html
  font-family              $mainFont
  background-color         $mainBGC
  color                    $mainColor
  -ms-text-size-adjust     100%
  -webkit-text-size-adjust 100%
  body
    margin 0
// ----------------------------------

a
  color           $mainLightBlue
  text-decoration none
  &:focus
    outline thin dotted
  &:active
  &:hover
    outline         0
    text-decoration underline

h1
  font-size      2em
  margin         0.67em 0
  text-transform capitalize

b
strong
  font-style bold

hr
  -moz-box-sizing content-box
  box-sizing      content-box
  height          0

// Font-family fix for Safari5, Chrome.
code
kbd
pre
samp
  font-family monospace, serif
  font-size   1em

small
  font-size 80%

sub
sup
  position       relative
  vertical-align baseline
  font-size      75%
  line-height    0
sub
  top -0.5em
sup
  bottom -0.25em

figure
  margin 0

fieldset
  border  1px solid $mainLightGrey
  margin  0 2px
  padding 0.35em 0.625em 0.75em

legend
  border  0
  padding 0

input
select
textarea
  font-family inherit
  font-size   100%
  margin      0

input
  line-height normal
  &:[type="search"]
    -webkit-appearance textfield
    -moz-box-sizing    content-box
    -webkit-box-sizing content-box
    box-sizing         content-box
    &::-webkit-search-cancel-button
    &::-webkit-search-decoration
      -webkit-appearance none
  &::-moz-focus-inner
      border  0
      padding 0

select
  text-transform none

textarea
  overflow       auto
  vertical-align top
  

/*
* Evita un bug di webkit in Android 4.0.* che ignorerebbe i controlli dei tag audio e video.
* Corregge un bug tale che alcuni input non sarebbero cliccabili in IOS.
*/
html input[type="button"]
input[type="reset"]
input[type="submit"]
  -webkit-appearance button
  cursor             pointer

html input[disabled]
  cursor default

table
  border-collapse collapse
  border-spacing  0
