// Foglio dedicato allo stile delle tabelle
div.data-table
  padding-top ($baseSpacing / 2)
  margin      $baseSpacing 0
  // box-shadow  0 1px 4px #666

  &:last-child
    margin-bottom 0
  &:first-child
    margin-top 0

  table
    width 100%

    > caption
      margin-bottom $baseSpacing
      padding-left  ($baseSpacing / 2)
      text-align    left
      font-weight   bold
      color         #003399

    > thead
      color #003399

      > tr > th
        cursor        pointer
        text-align    left
        border-bottom 1px solid @color

    > tbody
      color #666699

      > tr
        cursor pointer

        &:last-child > td
          border 0

        &:hover
          color #000099

        > td
          border-bottom 1px solid #ccc

    th
    td
      padding 6px 10px
